[Unit]
Description=toolu-runner (io.toolu.runner.100%%.repo)

[Service]
ExecStart="/usr/local/bin/toolu-runner" run --config "/home/ci/.toolu-runner/runners/pct/repo/config.toml"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
